/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif; /* Fuente por defecto */
    background-color: #f0f0f0; /* Fondo de la página */
    display: flex; /* Utilizamos Flexbox para centrar el contenido */
    flex-direction: column; /* Alineamos elementos en columna */;

}

.encabezado {
    margin-top: -90px;
    background-color: #318812; /* Fondo del encabezado */
    color: #effb13; /* Texto en blanco */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex; /* Utilizamos Flexbox para centrar el contenido */
    flex-direction: column; /* Alineamos elementos en columna */
    justify-content: center; /* Centrado horizontal del contenido */
    align-items: center;
    padding: 10px; /* Espaciado interno */
    font-size: 50px;
    width: 100%;
    height: 40%;
    gap: -80px;
}
.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    width: auto;
    height: auto;
    border-radius: 10%;
}
/* Contenedor principal */
.contenedor {
    display: flex; /* Utilizamos Flexbox para dividir el espacio */
    height: calc(100vh - 100px); /* Altura total menos el encabezado */
    background-color: #f0f0f0; /* Fondo del contenedor */
    width: 100vw;
}

/* Sección general */
.seccion {
    flex: 1; /* Ambas secciones ocupan el mismo espacio */
    display: flex; /* Activamos Flexbox dentro de cada sección */
    flex-direction: column; /* Alineamos elementos en columna */
    justify-content: top; /* Alinear arriba */
    align-items: center; /* Centramos horizontalmente */
    padding: 30px;
}

/* Sección izquierda */
.izquierda {
    font-size: 40px; /* Tamaño de la fuente */
    background-color: #98d5d8; /* Color específico para la izquierda */    
    border: 2px solid #000000; /* Borde de 20px con color específico */
    width: 100%;
    height: 100%;
}

/* Sección derecha */
.derecha {
    background-color: #f7d0d0; /* Color específico para la derecha */
    font-size: 40px; 
    border: 2px solid #000000;
    width: 100%;
    height: 100%;
}
/* Contenedor para el campo de texto y el botón */
.input-wrapper {
    margin-top: 30px; /* Ajustamos el margen superior para centrar el contenido */
    display: flex; /* Usamos Flexbox para alinear los elementos horizontalmente */
    align-items: center; /* Alinea el campo de texto y el botón verticalmente al centro */
    gap: 2px; /* Añadimos un pequeño espacio entre el campo de texto y el botón */
}
.button-draw {
    margin-top: 30px; /* Ajustamos el margen superior para centrar el contenido */
    height: 50px; /* Altura del botón */
    display: flex;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    width: 400px;
    padding: 10px 40px;
    color:#000 ;
    background-color: greenyellow;
    font-size: 18px;
    font-weight: 700;
}
.input-name {
    width: 400px;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    box-sizing: border-box;
}
.button-add {
    width: 100px;
    align-items: center;
    background-color: greenyellow;
    padding: 10px 20px;
    height: 50px;
    border: 3px solid #000;
    border-radius: 0 25px 25px 0;
    font-size: 18px;
    cursor: pointer;
    display: flex;
}
.section-title1 {
    padding-top: 30px;
    margin-top: 50px;
    color: blue;
    font-family: "Inter", serif;
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
}
.section-title2 {
    padding-top: 30px;
    margin-top: 50px;
    color: blue;
    font-family: "Inter", serif;
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
}
.icono {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.resaltado {
    color: rgb(179, 19, 157);
    font-weight: bold;
}
.name-list {
    text-align: left;
    margin-left: 400px;
    width: 100%;
}
